@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  @font-face {
      font-family: "Urbanist-Regular";
      font-style: normal;
      src: local('Urbanist-Regular'), url("/public/font/Urbanist/Urbanist-VariableFont_wght.ttf") format('truetype');
    }
}